################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs

/.obsidian/workspace.json
/.obsidian/workspace.json
