################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs

workspace.json


/Nord Clan/.obsidian/
.obsidian/
